# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# venv
.venv/
venv/

# OS/Editor
.vscode/
.DS_Store
Thumbs.db

outputs/

releases/


.tmp/

# cinev build artifacts
film/
*.mp4
tmp_assemble_list.txt
list.txt

